.media-list{padding-left:0;list-style:none}
.media{padding-bottom:10px;margin-bottom:10px;border-bottom:1px dashed #cccccc;}
.media-list .media:last-child{margin-bottom:0;padding-bottom:10px;}
.media,
.media-body{overflow:hidden;zoom:1}
.media-object{display:block;width:40px;height:40px;}
.media-object.img-thumbnail{max-width:none;}
.media-right,
.media>.pull-right{padding-left:10px}
.media-left,
.media>.pull-left{padding-right:10px}
.media-body,
.media-left,
.media-right{display:table-cell;vertical-align:top}
.media-middle{vertical-align:middle}
.media-bottom{vertical-align:bottom}
.media-heading{margin-top:0;margin-bottom:5px}
.media .media-list{border-left:3px solid #cccccc;padding-left:10px;}
.media .media-list .media{border-bottom:none;}
.media .media-list .media:last-child{padding-bottom:0;}